@charset "utf-8";

/* Written by Mike Frysinger <vapier@gmail.com>.  Released into the public domain. */

:root {
	/* NB: No space after colon. */
	--theme:light;
	--bg-color: white;
	--fg-color: black;
	--link-color: black;
	--input-filter: initial;
	--theme-text: '☀';
}
